*{
    margin:0;
    padding:0;
}
.container{
    width:100vw;
    height:100vh;
    background-color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    transition:0.3s
}
.btn{
    display:flex;
    position:relative;
    width:200px;
    height:100px;
    background-color:black;
    border-radius:120px;
    box-shadow: 3px 3px 3px black;
    transition:0.3s;
}
.btn img{
    position:abosolute;
    margin:25px;
}
.btn::before{
    content:"";
    position:absolute;
    width:80px;
    height:80px;
    background-color:#fff;
    border-radius:50%;
    margin:10px;
    transition:transform 0.3s;
    z-index:1;
}
input:checked +.btn::before{
    background-color:#000;
    transform:translateX(100px)
}
input:checked +.btn {
    background-color:white;
}
input{
    display:none;
}
